<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text = "${title}" >Document</title>
    <script defer type="module" src="/app-j3/src/main/resources/static/guardarUsuario.js"></script>
    <script defer type="module" src="/app-j3/src/main/resources/static/buscarUsuario.js"></script>
    <link rel="stylesheet" href="/app-j3/src/main/resources/static/formulario.css">
</head>
<body>
    <div class="container">
<!--         <form id="frmData">
            <div class="row">
                <div class="col-3">
                    <label for="nombreContacto" class="form-label">Nombre Contacto</label>
                    <input type="text" class="form-control" id="nombre" name ="nombre">
                </div>
            </div>
            <a href="#" class="btn btn-success mt-3" id="btnGuardar" >ver Item Ver 01</a>
          </form> -->
          
        <form id="frmData">
            <div class="row">
                <div class="col-3">
                    <label for="cedula" class="form-label">Cedula</label>
                    <input type="text" class="form-control" id="cedula" name ="cedula">
                </div>

                <div class="col-3">
                    <label for="nombreContacto" class="form-label">Nombre Contacto</label>
                    <input type="text" class="form-control" id="nombre" name ="nombre">
                </div>

                <div class="col-3">
                    <label for="apellido" class="form-label">Apellido Contacto</label>
                    <input type="text" class="form-control" id="apellido" name ="apellido">
                </div>

                <button type="submit" class="btn btn-danger mt-3" id="btnGuardar">Guardar</button>
               <!--  <button class="btn btn-danger mt-3" id="btnBuscar">Buscar</button> -->

            </div>




<!--             <a href="#" class="btn btn-danger mt-3" id="btnVer" >ver Item Ver 02</a> -->

          </form> 

          <form id="formBuscar">

            <button type="submit" class=" btn btn-danger mt-3" id="buscarUsuario">Buscar Usuario</button>

            <div class="col-3">
                <label for="id" class="form-label">Id</label>
                <input type="text" class="form-control" id="id" name ="id">
            </div>

          </form>  

        <div class="col-3">
            <label for="cedulaContenedor" class="form-label">Cedula: </label>
            <p type="text" class="form-control" id="cedulaContenedor" name ="cedulaContenedor">
        </div>

        <div class="col-3">
            <label for="nombreContenedor" class="form-label">Nombre: </label>
            <p type="text" class="form-control" id="nombreContenedor" name ="nombreContenedor">
        </div>

        <div class="col-3">
            <label for="apellidoContenedor" class="form-label">Apellido: </label>
            <p type="text" class="form-control" id="apellidoContenedor" name ="apellidoContenedor">
        </div>

          <!-- <div class="mt-3" id="viewData"></div> -->
    </div>
</body>
</html>